.elements{
  align-content: left;
  border: 1px solid black;
  position: absolute;
  top: 25%;
  width: 100%;
}
#canvas {
    
    position: relative;
    left: 2%;    
    /*transform: translate(-50%, -50%);*/
    width: 45%;
    height: 50%;
        
    text-align: right;
  }
#result {  
  position: absolute;
  left: 45%;
  text-align: center;
}

#PlayButton{
  width:150px;
  height: 50px;
  position:relative;   
  left: 45%; 
  bottom:15%; 
  
}
#headSelect{
  position: absolute;
  left: 45%;
	top: 45%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid black;
	border-right: 1vmin solid black;
	box-shadow: 0 0 0 rgb(129, 129, 129);
	
  right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
}
#saveAva{
  position: relative;
  width: 50px;
  height: 20px;  
  left: 0;
}
#box1{
  position: absolute;
  left: 75%;
  top: 40%;
  text-align: justify;
  text-align-last: center;
  box-sizing: content-box;  
  width: 40%;
  height: 55%;
  transform: translate(-50%, -50%);
  padding: 10px;  
  border: 3px solid black;
  font-family: Helvetica,Arial, sans-serif;
  overflow-x: scroll;
}
