body{
  text-align: center;
  background-image: url('../img/martinitoren1.png ');
  background-repeat: no-repeat;
  background-position-y: 90px;
  font-family: 'Oswald', sans-serif;
}
                
.app{
  overflow: hidden;
  padding: 0 10px 100px;
}
.elements{
  display: block;  
  
}
@media screen and (orientation: portrait) {
  .elements {  
    margin-top: 55px;
    top: 0%;  
    width: 100%;
    height: 100%;  
    position: relative;     
  }
}

#canvas {    
    position: relative;
    border-radius: 25px;
    /*transform: translate(-50%, -50%);*/
    width: 45%;
    height: 30%;
    text-align: right;
    padding: 0;
  }
  @media screen and (orientation: portrait) {
    #canvas {      
      width: 85%;      
      display: inline-block;   
      position: relative;   
    }
  }
 
.menu{
  width: 100%;
  text-align: center;
  margin-top: 15px;
} 
h1 { 
   
  text-align: center;
  
}

#PlayButton{
  display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  width: 200px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF;
}

#saveAva{
  display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  width: 200px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF; 
}

.tutorial{
  z-index: 200;
  position: relative;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  background: #cbdcff;
  width: 200px;
  height: 190px;
  margin-left: -100px; /*Half the value of width to center div*/
  margin-top: -100px; /*Half the value of height to center div*/
  z-index: 200;
  font-family: 'Oswald', sans-serif;
}
@media screen and (orientation: portrait) {
  #popup {      
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    background: #cbdcff;
    width: 200px;
    height: 190px;
    margin-left: -100px; /*Half the value of width to center div*/
    margin-top: -100px; /*Half the value of height to center div*/
    z-index: 200;
  }
}
#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
}
#button {
  cursor: pointer;
  display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  width: 200px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF;
}