body{
  text-align: center;
  background-image: url('../img/martinitoren1.png ');
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: 0px;
  font-family: 'Oswald', sans-serif;
}
@media screen and (orientation: landscape) {
  #result {      
  text-align: center;
  background-image: url('../img/martinitoren1.png ');
  background-repeat: no-repeat;
  background-position-y: 25px;         
  }
}
#result{
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  #result {      
    width: 100%;      
    height: 100%;
    text-align: center;         
  }
}
.elements{
  display: block; 
  position: relative;
  
}
@media screen and (orientation: portrait) {
  .elements {  
    margin-top: 20px;
    top: 0%;  
    width: 100%;
    height: 100%;  
    position: relative;     
  }
}
.play{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .play {      
    width: 85%;      
    display: inline-block;
    text-align: center;   
  }
}
#canvas {    
  position: relative;
  /*transform: translate(-50%, -50%);*/
  border-radius: 25px;
  right: -23%;
  text-align: right;
  padding: 0;
}
@media screen and (orientation: portrait) {
  #canvas {      
    left: 0%;
    margin-top: 50px;     
  }
}
h1{  
  text-align: center; 
  margin-top: 0px;   
} 
@media screen and (orientation: landscape) {
  #buttons {      
    width: fit-content;      
    position: absolute;
    top: 20%; 
  }
}  
  #PlayButton{
    text-align: center;
    position:relative; 
    width:fit-content;
    height: 15%;    
    bottom:0%; 
    display: inline-block;
    margin: 20px auto auto;
    padding: 10px 20px;
    max-width: 200px;
    min-width: 100px;
    color: #fff;
    border-style: none;
    font-size: 120%;
    opacity: 1;
    background-color: #0D5BFF;
    
  }
 #home{
  text-align: center;
  position: relative;
  width: fit-content;
  height: 15%;  
  left: 0;
  display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  max-width: 200px;
  min-width: 100px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF;
 }
  #box1{
    position: absolute;
    border-radius: 25px;
    left: 2%;
    text-align: justify;
    text-align-last: center;
    box-sizing: content-box;   
    padding: 0px;  
    font-family: 'Oswald', sans-serif;
    font-size: x-large;  
    width: 15%;
    height: 85%;
  }
  @media screen and (orientation: portrait) {
    #box1 {  
      position:relative;
      margin-top: 20px;
      width: 100%;
      display: table;   
      margin: 0px auto;   
    }
  }
  