body{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.elements{
  display: block; 
  position: relative;
  
}
@media screen and (orientation: portrait) {
  .elements {  
    margin-top: 10px;
    top: 0%;  
    width: 100%;
    position: relative;     
  }
}
#canvas {    
  position: relative;
  border-radius: 25px;
  /*transform: translate(-50%, -50%);*/
  width: 50%;
  right: -23%;
  text-align: right;
  padding: 0;
}
@media screen and (orientation: portrait) {
  #canvas {      
    width: 100%;    
    left: 0%;
    margin-top: 10px;     
  }
}
  h1 {
    text-align: center;
} 
.foodInv{
  position: absolute;
  right: 74%;
  text-align: justify;
  text-align-last: center;
  box-sizing: content-box;   
  padding: 5px;  
  font-family: Helvetica,Arial, sans-serif;
  font-size: x-large;  
  width: 25%;
}
@media screen and (orientation: portrait) {
  .foodInv {  
    position:initial;
    margin-top: 20px;
    width: 60%;
    display: table;   
    margin: 0px auto;   
  }
}
#chicken{
  margin-right: 15px;
  width: 40px;
  height: 28px;
}

#foodinv{
  width: 100px;
  height: 55px;
  display: table-cell;
}
#food{  
  font-weight: bold;
  font-size: x-large;
}
#moneyinv{
  width: 100px;
  height: 55px;
  display: table-cell;
}
#money{  
  font-weight: bold; 
  font-size: x-large;
  margin-right: -27px;
}
.buttons{
      position: relative;
      text-align: center;
      margin-top: 10px;
      
  }
  #show{
      position: relative;
      height: 20px;
      width: 50px;
      text-align: center;      
      
  }
  #decreaseButton{
    position: relative;
    height: 30px;
    width: 50px;    
    background-color: white;
    border-style: none;
    font-size: large;     
  }
  #increaseButton{ 
    position: relative;    
    height: 30px;
    width: 50px;    
    background-color: white;
    border-style: none;
    font-size: large;   
  }
#buy{
    position: relative;
    height: 40px;
    width: 100px;
    display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  max-width: 200px;
  min-width: 100px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF;
    
}
#cancel{
    position: relative;
    height: 40px;
    width: 100px;
    display: inline-block;
  margin: 20px auto auto;
  padding: 10px 20px;
  max-width: 200px;
  min-width: 100px;
  color: #fff;
  border-style: none;
  font-size: 120%;
  opacity: 1;
  background-color: #0D5BFF;
    
}