
#container {
    text-align: left;
    margin: 0;
  }
  
  
    #qr-canvas {
    position: absolute;    
    width: calc(100% - 200px);
    max-width: 150px;
    max-height: 150px;
  }
  #btn-scan-qr {
    cursor: pointer;
  }
  
  #btn-scan-qr img {
    height: 50px;
    padding: 15px;
    margin: 15px;
    background: white;
  }
  
  #qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
  }
  
